@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background-color: white;
    font-family: 'Comic Shanns', 'Comic Sans MS', 'sans-serif';
    /*background-image: radial-gradient(rgba(68, 76, 247, 0.5) 0.5px, rgba(229, 229, 247, 0.75) 0.5px);*/
    /*background-size: 10px 10px;*/
}

.background-solid {
    background-color: white;
    /*  background-image: radial-gradient(rgb(68, 76, 247) 0.5px, rgb(229, 229, 247) 0.5px);*/
    /*  background-size: 10px 10px;*/
}

.success-rocket {
    animation:
        shake 2s ease-in-out,
        flyAway 1.5s 1.5s ease-out forwards;
    transform-origin: 50% 90%; /* Adjust as needed for the rocket's base */
}

@keyframes shake {
    0%,
    100% {
        transform: rotate(0deg);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(-5deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(5deg);
    }
}

@keyframes flyAway {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(150%, -150%);
        opacity: 0;
    }
}
